<!DOCTYPE html>
<!--
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="base :: header"></head>
    <body>
        <div class="container">
            <h2>Add an article reference</h2>

            <form class="form-horizontal" id="ref-form" role="form" th:action="@{/save}" method="post" th:object="${reference}">
                <input type="hidden" th:value="${reference.refType}"
                       th:field="${reference.refType}"/>
                <input type="hidden" th:value="${reference.id}"
                       th:field="${reference.id}"/>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">*Reference name:</label>
                    <div class="col-sm-10">
                        <input type="text" th:value="${reference.name}"
                               th:field="${reference.name}" id="name" pattern=".*[^ ].*"/>
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">*Author:</label>
                    <div class="col-sm-10">
                        <input type="text" th:value="${reference.author}"
                               th:field="${reference.author}" id="author" pattern=".*[^ ].*" required="required"/>
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">*Title:</label>
                    <div class="col-sm-10">
                        <input type="text" th:value="${reference.title}"
                               th:field="${reference.title}" id="title" pattern=".*[^ ].*" required="required"/>
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">*Journal:</label>
                    <div class="col-sm-10">
                        <input type="text" th:value="${reference.journal}"
                               th:field="${reference.journal}" id="journal" pattern=".*[^ ].*" required="required"/>
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">*Year:</label>
                    <div class="col-sm-10">
                        <input type="text" th:value="${reference.year}"
                               th:field="${reference.year}" id="year" pattern=".*[^ ].*" required="required"/>
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">*Volume:</label>
                    <div class="col-sm-10">
                        <input type="text" th:value="${reference.volume}"
                               th:field="${reference.volume}" id="volume" pattern=".*[^ ].*" required="required"/>
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">Number:</label>
                    <div class="col-sm-10">
                        <input type="text" th:value="${reference.number}"
                               th:field="${reference.number}" id="number"/>
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">Pages:</label>
                    <div class="col-sm-10">
                        <input type="text" th:value="${reference.pages}"
                               th:field="${reference.pages}" id="pages"/>
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">Month:</label>
                    <div class="col-sm-10">
                        <input type="text" th:value="${reference.month}"
                               th:field="${reference.month}" id="month"/>
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">Note:</label>
                    <div class="col-sm-10">
                        <input type="text" th:value="${reference.note}"
                               th:field="${reference.note}" id="note"/>
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">Key:</label>
                    <div class="col-sm-10">
                        <input type="text" th:value="${reference.key}"
                               th:field="${reference.key}" id="key"/>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
            <script src="http://code.jquery.com/jquery.js"></script>
            <script src="webjars/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        </div>
    </body>
</html>
