<!DOCTYPE html>
<!--
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="base :: header"></head>

<body>

<div class="container">
    <h2>Add a book reference</h2>

    <form class="form-horizontal" id="ref-form" role="form" th:action="@{/save}" method="post" th:object="${reference}">
        <input type="hidden" th:value="${reference.refType}"
               th:field="${reference.refType}"/>
        <input type="hidden" th:value="${reference.id}"
                       th:field="${reference.id}"/>
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Reference name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:value="${reference.name}"
                       th:field="${reference.name}" id="name" pattern=".*[^ ].*"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="author">*Author:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:value="${reference.author}"
                       th:field="${reference.author}" id="author" pattern=".*[^ ].*" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="editor">*Editor:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:value="${reference.editor}"
                       th:field="${reference.editor}" id="editor" pattern=".*[^ ].*" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="title">*Title:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:value="${reference.title}"
                       th:field="${reference.title}" id="title" pattern=".*[^ ].*" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="publisher">*Publisher:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:value="${reference.publisher}"
                       th:field="${reference.publisher}" id="publisher" pattern=".*[^ ].*" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="year">*Year:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:value="${reference.year}"
                       th:field="${reference.year}" id="year" pattern=".*[^ ].*" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="volume">Volume:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:value="${reference.volume}"
                       th:field="${reference.volume}" id="volume"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="number">Number:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:value="${reference.number}"
                       th:field="${reference.number}" id="number"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="series">Series:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:value="${reference.series}"
                       th:field="${reference.series}" id="series"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="address">Address:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:value="${reference.address}"
                       th:field="${reference.address}" id="address"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="edition">Edition:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:value="${reference.edition}"
                       th:field="${reference.edition}" id="edition"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="month">Month:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:value="${reference.month}"
                       th:field="${reference.month}" id="month"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="note">Note:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:value="${reference.note}"
                       th:field="${reference.note}" id="note"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="key">Key:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:value="${reference.key}"
                       th:field="${reference.key}" id="key"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="submit" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="webjars/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>
