<!DOCTYPE html>
<!--
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="base :: header"></head>
    
<body>
    
    <table class="table table-bordered" th:if="${not #lists.isEmpty(articleReferences)}" th:include="tables :: articleTable"></table>
    <table class="table table-bordered" th:if="${not #lists.isEmpty(bookReferences)}" th:include="tables :: bookTable"></table>
    <table class="table table-bordered" th:if="${not #lists.isEmpty(bookletReferences)}" th:include="tables :: bookletTable"></table>
    <table class="table table-bordered" th:if="${not #lists.isEmpty(conferenceReferences)}" th:include="tables :: conferenceTable"></table>
    <table class="table table-bordered" th:if="${not #lists.isEmpty(inbookReferences)}" th:include="tables :: inbookTable"></table>
    <table class="table table-bordered" th:if="${not #lists.isEmpty(incollectionReferences)}" th:include="tables :: incollectionTable"></table>
    <table class="table table-bordered" th:if="${not #lists.isEmpty(inproceedingsReferences)}" th:include="tables :: inproceedingsTable"></table>
    <table class="table table-bordered" th:if="${not #lists.isEmpty(manualReferences)}" th:include="tables :: manualTable"></table>
    <table class="table table-bordered" th:if="${not #lists.isEmpty(mastersthesisReferences)}" th:include="tables :: mastersthesisTable"></table>
    <table class="table table-bordered" th:if="${not #lists.isEmpty(miscReferences)}" th:include="tables :: miscTable"></table>
    <table class="table table-bordered" th:if="${not #lists.isEmpty(phdthesisReferences)}" th:include="tables :: phdthesisTable"></table>
    <table class="table table-bordered" th:if="${not #lists.isEmpty(proceedingsReferences)}" th:include="tables :: proceedingsTable"></table>
    <table class="table table-bordered" th:if="${not #lists.isEmpty(techreportReferences)}" th:include="tables :: techreportTable"></table>
    <table class="table table-bordered" th:if="${not #lists.isEmpty(unpublishedReferences)}" th:include="tables :: unpublishedTable"></table>

        <h2>Create a new reference</h2>

        <form class="form-inline" th:action="@{/references}" method="POST">
            <div class="form-group">
                <label for="type">Type:</label>
                <select class="form-control" id="type" name="type">
                    <option value="article">Article</option>
                    <option value="book">Book</option>
                    <option value="booklet">Booklet</option>
                    <option value="conference">Conference</option>
                    <option value="inbook">Inbook</option>
                    <option value="incollection">Incollection</option>
                    <option value="inproceedings">Inproceedings</option>
                    <option value="manual">Manual</option>
                    <option value="mastersthesis">Master's thesis</option>
                    <option value="misc">Misc</option>
                    <option value="phdthesis">Ph.D. thesis</option>
                    <option value="proceedings">Proceedings</option>
                    <option value="techreport">Tech report</option>
                    <option value="unpublished">Unpublished</option>
                </select>
            </div>
            <button id="submit" type="submit" class="btn btn-primary">Create</button>
        </form>

        <h2>Get bibtex-file</h2>
        <form class="form-inline" th:action="@{/requestbibtex}" method="POST">
            <label class="control-label col-sm-2" for="filename">Filename:</label>
            <div class="col-sm-10">
                <input type="text" id="filename" name="filename" required="required"/>
            </div>
            <button id="submitBibtex" type="submit" class="btn btn-primary">Get</button>
        </form>

        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="webjars/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    </body>
</html>
